.page {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.svg {
  width: var(--svg-width);
  height: var(--svg-height);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.control {
  display: flex;
  gap: 16px;
}

.radioInput {
  margin-right: 8px;
}
